:root{
--primary-Red: hsl(0, 100%, 74%);
--primary-Green: hsl(154, 59%, 51%);
--accent-Blue: hsl(248, 32%, 49%);
--Dark-Blue: hsl(249, 10%, 26%); 
--Grayish-Blue: hsl(246, 25%, 77%);
}

@mixin fontGlobal {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
}

