:root {
  --primary-Red: hsl(0, 100%, 74%);
  --primary-Green: hsl(154, 59%, 51%);
  --accent-Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
}

html, body {
  width: 100%;
  height: 100%;
  background-image: url(/images/bg-intro-desktop.png);
  background-color: var(--primary-Red);
}

/* main */
main {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

.container {
  width: 100%;
  max-width: 80vw;
  height: 80vh;
  margin: 0 auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .left-side {
  width: 50%;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .left-side .text {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  margin-top: 120px;
  vertical-align: middle;
}

.container .left-side .text .title {
  margin: 0 auto;
  margin-top: 20px;
  line-height: 1.2em;
  font-size: 2em;
  width: 60%;
  text-align: left;
}

.container .left-side .text .description {
  width: 90%;
  font-size: 0.65em;
  padding: 0 50px;
  margin: 20px auto;
  margin-left: 50px;
}

.container .right-side {
  width: 50%;
  padding: 0 30px;
}

.container .right-side .button-container {
  padding: 10px 20px;
  text-align: center;
}

.container .right-side .button-container .btn {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  background-color: var(--accent-Blue);
  border: none;
  border-radius: 4px;
  height: 40px;
  font-size: 0.8em;
  -webkit-box-shadow: 0.1px 4px 1px rgba(0, 0, 0, 0.226);
          box-shadow: 0.1px 4px 1px rgba(0, 0, 0, 0.226);
}

.container .right-side .button-container .btn .btn-span {
  font-size: 1em;
  font-weight: bold;
}

.container .right-side .inputs-all {
  padding: 0 30px;
  background-color: #fff;
  width: 100%;
  height: 82%;
  border-radius: 6px;
  width: 91%;
  margin: 10px auto;
}

.container .right-side .inputs-all .input-wrapper:first-child {
  padding-top: 20px;
}

.container .right-side .inputs-all .input-wrapper {
  text-align: right;
  /*Error do input */
  /*****/
}

.container .right-side .inputs-all .input-wrapper .input {
  width: 100%;
  height: 35px;
  font-size: 0.8em;
  border-radius: 3px;
  border: 1px solid #9e9c9c;
  text-indent: 20px;
  color: var(--Dark-Blue);
  margin-bottom: 5px;
}

.container .right-side .inputs-all .input-wrapper .error {
  width: 100%;
  height: 35px;
  font-size: 0.8em;
  border-radius: 3px;
  text-indent: 20px;
  margin-bottom: 5px;
  color: var(--primary-Red);
  outline: 1px solid var(--primary-Red);
  border: none;
}

.container .right-side .inputs-all .input-wrapper .error::-webkit-input-placeholder {
  color: #fff;
  background-image: url(/images/icon-error.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 96%;
}

.container .right-side .inputs-all .input-wrapper .error:-ms-input-placeholder {
  color: #fff;
  background-image: url(/images/icon-error.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 96%;
}

.container .right-side .inputs-all .input-wrapper .error::-ms-input-placeholder {
  color: #fff;
  background-image: url(/images/icon-error.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 96%;
}

.container .right-side .inputs-all .input-wrapper .error::placeholder {
  color: #fff;
  background-image: url(/images/icon-error.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 96%;
}

.container .right-side .inputs-all .input-wrapper cite.error-message {
  color: var(--primary-Red);
  font-size: 0.5em;
  line-height: 0.1px;
  margin-top: -10px;
  padding-top: 0;
  height: 0px;
  text-align: right;
  visibility: hidden;
}

.container .right-side .inputs-all .input-wrapper input[type=submit].button-input {
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 4px 20px;
  -webkit-box-shadow: 0.1px 1px 2px var(--primary-Green);
          box-shadow: 0.1px 1px 2px var(--primary-Green);
  background-color: var(--primary-Green);
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

.container .right-side .inputs-all .term-of-use {
  color: var(--Dark-Blue);
  font-size: 0.5em;
  margin-top: 8px;
  text-align: center;
}

.container .right-side .inputs-all .term-of-use span.term-of-use-span {
  color: var(--primary-Red);
  font-size: 1em;
  font-weight: bold;
}

@media screen and (max-width: 880px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .container .left-side {
    width: 100%;
  }
  .container .left-side .text {
    height: 100%;
    width: 100%;
  }
  .container .left-side .text .title {
    text-align: center;
    width: 100%;
  }
  .container .left-side .text .description {
    width: 100%;
    padding: 0;
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
  }
  .container .right-side {
    width: 100%;
  }
}

@media screen and (max-width: 433px) {
  input[type=submit].button-input {
    font-size: 0.7em;
  }
}
/*# sourceMappingURL=main.css.map */